[submodule "equality-blockchain-gui"]
	path = equality-blockchain-gui
	url = https://github.com/Equality-Network/equality-blockchain-gui.git
	branch = master
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Equality-Network/mozilla-ca.git
	branch = main
